<!DOCTYPE html>
<html>
  <head>
    <title>Planterskeep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Font Awesome for wireframe -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body class="bg-secondary">

    <%= render 'layouts/navbar' %>
    <div id="flash" class="text-center">
      <%= render 'layouts/flash' %>
    </div>
    <%= yield %>

  </body>
</html>
